server:
  port: 8080
spring:
  ai:
    openai:
      api-key: ${GEMINI_API_KEY}
      chat:
        base-url: "https://generativelanguage.googleapis.com/v1beta/openai/"
        options:
          model: ${GEMINI_MODEL:gemini-2.5-flash-lite}
          temperature: 0.7

a2a:
  order-agent-url: http://localhost:8081
  delivery-agent-url: http://localhost:8082
